.text {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.text p {
  display: flex;
  gap: 8px;
  margin: 0;
  align-items: center;
}

.btn {
  width: 60px;
  padding: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  border: 1px solid #1b1b1b;
  border-radius: 4px;
  cursor: pointer;
}
